---
// src/pages/[lang]/[...slug].astro
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const pages = await getCollection('pages');
  
  return pages.map((page) => {
    // A fájl elérési útja: src/content/pages/hu/rolunk/index.mdoc
    // Felbontjuk: ['src', 'content', 'pages', 'hu', 'rolunk', 'index.mdoc']
    const pathParts = page.id.split('/');

    
    const lang = pathParts[0]; // 'hu' vagy 'en'
    const slug = pathParts[1]; // 'rolunk' vagy 'kapcsolat'

    const hrefLang = page.data?.hrefLang || undefined;


    return {
      params: { lang: lang, slug: slug }, // URL: /hu/rolunk
      props: { page, hrefLang },
    };
  });
}

//const { lang, slug } = Astro.params;
const { page } = Astro.props;
const { lang } = Astro.params;
const defaultImage = '/default-share-image.jpg';
const { Content } = await page.render();

// Hiba, ha nem található (opcionális)
if (!page) {
  return Astro.redirect('/404');
}
---
<Layout 
  title={page.data.title} 
  description={page.data.description} 
  lang={lang as 'hu' | 'en' | 'de'}
  image={defaultImage}
  hrefLang={page.data.hrefLang}>
    <h1>{page.data.title}</h1>
    <Content />
</Layout>
