---
import { type CollectionKey, getCollection, render } from 'astro:content';
import Layout from '../../../layouts/Layout.astro'; // Itt figyeld az utat (két szintet léptünk vissza)!
import Utils from '../../../utils/content';
import {experimental_AstroContainer } from "astro/container";

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');

  return allPosts.map((post) => {
    // ID: "hu/masodik-poszt.mdoc"
    const parts = post.id.split('/');
    const lang = parts[0];
    const slug = Utils.stripExtension(parts[parts.length - 2])
    //const collection = 'posts'; // Vagy post.collection
    const collection = post.collection; // Vagy post.collection
    const image = post.data?.coverImage?.src || undefined;
    const hrefLang = post.data?.hrefLang || undefined;

    return {
      params: { lang, collection, slug },
      props: { post, image, hrefLang }, // 
    };
  });
}

const { post, image, hrefLang } = Astro.props;
const { lang } = Astro.params;

const container = await experimental_AstroContainer.create();
const description = await Utils.singlePostExcerpt(post, container)

const { Content } = await post.render(); 

---
<!-- SINGLE POST -->
<Layout 
  title={post.data.title} 
  description={description}
  lang={lang}
  image={image}
  hrefLang={hrefLang}>
  <article>
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</Layout>