---
import { type CollectionKey, getCollection } from 'astro:content';
import {experimental_AstroContainer} from "astro/container";
import Layout from '../../../layouts/Layout.astro';
import Utils from '../../../utils/content';

export async function getStaticPaths() {

  return [
    { params: { lang: 'hu', collection: 'posts' } },
    { params: { lang: 'en', collection: 'posts' } },
  ];
}

const { lang, collection } = Astro.params;

// 1. Csak az adott nyelvhez tartozó posztok lekérése
//const posts = await getCollection('posts', ({ id }) => {
//const posts = await getCollection(collection as CollectionKey, ({ id }: CollectionEntry<any>) => {
//  return id.startsWith(`${lang}/`);
//});

const rawPosts = await getCollection(collection as CollectionKey, (entry) => {
  // Így a TS már tudja, hogy az entry-nek van id-ja
  return entry.id.startsWith(`${lang}/`);
});

const container = await experimental_AstroContainer.create();

const processedPosts = await Utils.makeExcerptsOnIndex(rawPosts, container, lang, collection)
/*await Promise.all( posts.map( async (post) => {
  let finalExcerpt = '';
  const regex = /<!--more-->/g;
  const excerptField = post.data.excerpt?.trim() || '';

  if (excerptField.length > 0) {
    finalExcerpt = excerptField;
  } else if (post.body.includes('<!--more-->')) {
    finalExcerpt = post.body.split('<!--more-->')[0];
  } else {
    // 2. Itt használjuk a már létező containert
    const { Content } = await render(post);
    const html = await container.renderToString(Content);
    
    finalExcerpt = html
      .replace(/<[^>]*>?/gm, "") // HTML tagek eltávolítása
      .replace(/\s+/g, " ")     // Minden fehér karakter (szóköz, újsor) normalizálása
      .trim()
      .split(" ")
      .slice(0, 25)              // Egy kicsit több szó talán jobban mutat
      .join(" ")
      .concat("...");
  }
  
  return { ...post, finalExcerpt }; 
}));*/
---
<Layout title="Bejegyzések">
  <ul>
    {processedPosts.map(post => (
      <li>
        <h2>{post.data.title}</h2>
        <p>{post.finalExcerpt}</p>
        <a href={`/${post.liveId}`}>Tovább</a>
      </li>
    ))}
  </ul>
</Layout>