---
import { type CollectionKey, type CollectionEntry,  getCollection } from 'astro:content';
import {experimental_AstroContainer} from "astro/container";
import Layout from '../../../layouts/Layout.astro';
import Utils from '../../../utils/content';

export async function getStaticPaths() {

  return [
    { params: { lang: 'hu', collection: 'posts' } },
    { params: { lang: 'en', collection: 'posts' } },
  ];
}

const { lang, collection } = Astro.params;

const rawPosts = await getCollection(collection as CollectionKey, (entry) => {
  // Így a TS már tudja, hogy az entry-nek van id-ja
  return entry.id.startsWith(`${lang}/`);
}) as CollectionEntry<'posts'>[];;

const container = await experimental_AstroContainer.create();

const processedPosts = await Utils.makeExcerptsOnIndex(rawPosts, container, lang, collection)
---
<Layout 
  title="Bejegyzések" 
  description="Bejegyzések listája" 
  lang={lang}>
  <ul>
    {processedPosts.map(post => (
      <li>
        <h2>{post.data.title}</h2>
        <p>{post.finalExcerpt}</p>
        <a href={`/${post.liveId}`}>Tovább</a>
      </li>
    ))}
  </ul>
</Layout>